body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

.index-ranking{
	line-height: 24px;
}
.index-img-ranking-icon{
	border: 2px solid #F80808;
    padding: 2px;
    background-color: #fff;
}
.index-tag-fontsize{
	font-size: 15px
}
.msg-font-color{
	color: #428bca;
}

.msg-font-prcolor{
	color: #555;
}

.inout-map-color{
	color: #428bca;
		line-height:20px;
}
.profile-info{
padding: 20px;

}

.profile-info-title{
	padding:0 0 20px 20px;
	line-height:24px;
	font-size: 18px;
	color:#636363;
}

.msg-tag-fontsize{
	font-size: 16px
}

.profile-info-left{
	padding:0 0 0 10px;
	font-size: 14px;
}

.profile-content-fontsize{
color: #969696;
font-size: 12px
}

.msg-cz-fontw{
font-weight: 500;
}
.dataTables_info{
	float:left;
}
.panel-heading{
	padding:10px 20px 10px 20px
}
.modal-header{
	padding: 10px 10px 0px 0px;
}
.form-group{
	padding-top:5px;
}
.panel-body{
	padding:10px;
}
.modal-content .panel-btns{
	display: block;
}
.select2-container .select2-choice{
	overflow: visible;
}
.asterisk,.error{
	color:red;
}
.alert{
	margin-bottom: 1px;
}
.modal-body{
	padding:0px 10px 5px 10px
}
.ui-dialog .ui-dialog-title{
	width: 80%;
}
.sorting,.sorting_asc,.sorting_desc{
	cursor: pointer;
}
label.checkbox{padding:10px;float:left;}
.form-horizontal .checkbox,.form-horizontal .checkbox-inline{margin-left:10px;}